@font-face {
    font-family: neutraFace;
    src: url(../fonts/NeutrafaceCondensed-Light.otf);
}
@font-face {
    font-family: neutraFace;
    src: url(../fonts/NeutrafaceCondensed-Bold.otf);
    font-weight: bold;
}
body{
    font-family: neutraFace;
    font-size: 50px;
}
